<%= form_for response do |f| %>
  <%= f.hidden_field :status, :value => "correct" %>
  <div class = "actions"><%= f.submit "Accept" %></div>
<%end %>
<%= form_for response do |f| %>
  <%= f.hidden_field :status, :value => "incorrect" %>
  <div class = "actions"><%= f.submit "Reject" %></div>
<%end %>
