<% content_for :javascript do %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "Quiz" %>
  <%= javascript_include_tag "AddRemoveFields" %>
<% end %>


<div id="fbd">
  <div id="holder" data-mode="student" data-json="<%= answer_input %>"></div>

  <p>Force angle: 
<span id="status"></span>
</p>

<ul id="forces">
</ul>
</div>
<%= f.hidden_field :answer %>

