<%= form_for [@course, @quiz] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div id="course_id" style="display: none;"><%= @course.id %></div>

  <% if !@lesson.nil? %>
    <table>
      <tr>
        <div class="field">
          <td><%= label_tag :start_time, "Start time: " %></td>
          <td><%= text_field_tag :start_time %></td>
          <td><a href="#" class="start-sync">Sync start</a></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= label_tag :end_time, "End time: " %></td>
          <td><%= text_field_tag :end_time %></td>
          <td><a href="#" class="end-sync">Sync end</a></td>
        </div>
      </tr>
    </table>

    <div id="current_video_url"></div>
    <%= hidden_field_tag :lesson_id, @lesson.id %>
    <%= hidden_field_tag :video_url %>
  <% end %>

  <%= f.hidden_field :answer_input, :value => "" %>
  <%= f.hidden_field :answer_output, :value => "" %>

  <div class="field">
    <%= f.label :component_tokens, "Components" %><br />
    <%= f.text_field :component_tokens, "data-pre" => @quiz.components.map(&:attributes).to_json  %>
  </div>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  
  <div class="field">
    <%= f.label :answer_type, "Answer type" %><br />
    <%= f.select :answer_type, options_for_select([['Self-rating', 'self-rate'], 
      ['Text input', 'text'], ['Free body diagram', 'fbd']], :selected => @quiz.answer_type || 'self-rate') %>
  </div>

  <div class="hidden" id="fbd_form"> <%= render "quizzes/fbd_input" %> </div>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

