<% content_for :javascript do %>
  <%= javascript_include_tag "AddAnswer.js" %>
<% end %>

<%= form_for [@course, @quiz] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div id="course_id" style="display: none;"><%= @course.id %></div>

  <% if !@lesson.nil? %>
    <% @quiz.events.build if @quiz.events.empty? %>
    <%= render :partial => 'events/form', 
      :locals => { :parent_type => "quiz",
                   :event => @quiz.events[0] } %>
  <% end %>

  <%= f.hidden_field :answer_input %>
  <%= f.hidden_field :answer_output %>

  <div class="field">
    <%= f.label :component_tokens, "Components" %><br />
    <%= f.text_field :component_tokens, "data-pre" => @quiz.components.map(&:attributes).to_json  %>
  </div>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  
  <div class="field">
    <%= f.label :answer_type, "Answer type" %><br />
    <%= f.select :answer_type, options_for_select([['Self-rating', 'self-rate'], 
      ['Text input', 'text'],['Multiple choice', 'multi'],['Check boxes', 'check'],['Free body diagram', 'fbd']], :selected => @quiz.answer_type || 'self-rate') %>
  </div>

  <div class="hidden extra-form" id="fbd_form"> <%= render "quizzes/fbd_input" %> </div>
  <div class ="hidden extra-form" id = "multichoice_form"><%= render "quizzes/multiple_choice"%></div>
  <div class ="hidden extra-form" id ="check_box_form"><%= render "quizzes/check_box"%></div>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
  <% end %>
  <p><div id = "add-answer"><%= link_to_add_fields "Add answer", f, :answers %></div></p>

  <div class="field">
    <%= f.label :explanation %><br />
    <%= f.text_area :explanation %>
  </div>

  <% if @lesson %>
  <div class = "field">
    <%= f.label :in_lesson, "Use in lesson only?" %>
    <%= f.check_box :in_lesson %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

