<%= form_for [@course, @quiz] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div id="course_id" style="display: none;"><%= @course.id %></div>

  <%= f.hidden_field :answer_input, :value => "" %>
  <%= f.hidden_field :answer_output, :value => "" %>

  <div class="field">
    <%= f.label :component_tokens, "Components" %><br />
    <%= f.text_field :component_tokens, "data-pre" => @quiz.components.map(&:attributes).to_json  %>
  </div>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  
  <div class="field">
    <%= f.label :answer_type, "Answer type" %><br />
    <%= f.select :answer_type, options_for_select([['Self-rating', 'self-rate'], 
      ['Text input', 'text'], ['Free body diagram', 'fbd']], :selected => @quiz.answer_type || 'self-rate') %>
  </div>

  <div class="hidden" id="fbd_form"> <%= render "quizzes/fbd_input" %> </div>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>

