<% content_for :javascript do %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "Study" %>
  <%= javascript_include_tag "Quiz" %>
<% end %>

<div class="header"><%= @quiz.question %></div>

<%= form_for @response || Response.new do |f| %>
  <% if @quiz.answer_type == "text" %>
    <%= render :partial => "text_input", :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
  <% elsif @quiz.answer_type == "fbd" %>
    <%= render :partial => "fbd_student_input", :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
  <% end %>

  <%= f.hidden_field :quiz_id, :value => @quiz.id %>

  <div id="check-answer">
    <div class="actions">
      <%= f.submit "Check answer", :class => "round quizbutton" %>
      <%= f.submit "Skip", :class => "round quizbutton" %>
      <%= f.submit "Don't know", :class => "round quizbutton" %>
    </div>
  </div>
<% end %>
