<div class="header"><%= @quiz.question %></div>

<p>Answer(s): <% @quiz.answers.each do |answer| %><%= answer.text %> <% end %></p>

<p id="explanation"><%= @quiz.explanation %></p>

<p><%= @quiz.responses.count  %> responses given. <%= @quiz.percent_responses_correct %>% correct.</p>

<table id="student_responses">
  <tr id="labels">
    <th> Student </th>
    <th> Response </th>
    <th> Status </th>
    <th> Date </th>
  </tr>
  <% @quiz.responses.each do |r| %>
    <tr>
      <td> <%= r.user.email %> </td>
      <td> <%= r.answer %> </td>
      <td> <%= r.status %> </td>
      <td> <%= time_ago_in_words(r.created_at) %> ago </td>
    </tr>
  <% end %>
</table>
