<% content_for :javascript do %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "Quiz" %>
  <%= javascript_include_tag "AddRemoveFields" %>
<% end %>

<%= breadcrumb :edit_quiz, @quiz %>
<h1>Editing quiz item</h1>

<%= render 'form' %>


