<% breadcrumb :quizzes, @course %>

<%= link_to "Add exercise", new_course_quiz_path(@course), :class => 'add-course-item' %><br /><br />

<table class="teacher-data">
  <tr class="teacher-data-head">
    <th>Quiz</th>
    <th>Actions</th>
    <th># of responses</th>
    <th>% correct</th>
  </tr>
<% @quizzes.each do |quiz| %>
  <tr class="teacher-data-row">
    <td><%= link_to truncate(quiz.question,:length => 80), course_quiz_path(@course, quiz) %></td>
    <td><%= link_to "Edit", edit_course_quiz_path(@course, quiz) %></td>

    <td><%= quiz.responses.count %></td>
    <td><%= quiz.percent_responses_correct %>%</td>
  </tr>
<% end %>
</table>
