<% breadcrumb :study, @quiz.course %>

<div id="study-area">
  <% if @quiz %> 

    <div class="header"><%= @quiz.question %></div>

    <%= form_for @response do |f| %>

      <% if @input_fields %>
        <%= render :partial => @input_fields, :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
      <% end %>

      <%= f.hidden_field :quiz_id, :value => @quiz.id %>

      <div id="check-answer">
        <div class="actions">
          <%= f.submit "Check answer", :class => "round quizbutton" %>
        </div>
      </div>

    <% end %>

  <% elsif @component %>

    <div id="answer-area">
      <div id="problem"><%= component.name %></div>
      <div id="answer"></div>

      <div id="answer-area">
        <%= link_to "Show", describe_component_path(@component, :format => :json), :remote => true, :id => "show-answer", :class => "round", :method => :get %>

        <div id="rate-button-panel">
          <%= link_to "Miss", rate_memory_path(@memory, :quality => 0), :id => "rate-miss", :class => "round quizbutton", :method => :get %>
          <%= link_to "Hard", rate_memory_path(@memory, :quality => 3), :id => "rate-hard", :class => "round quizbutton", :method => :get %>
          <%= link_to "Good", rate_memory_path(@memory, :quality => 4), :id => "rate-good", :class => "round quizbutton", :method => :get %>
          <%= link_to "Easy", rate_memory_path(@memory, :quality => 5), :id => "rate-easy", :class => "round quizbutton", :method => :get %>
        </div>
      </div>

    <% end %>
  </div>
