var item = $("<li>").html("<a href = \"/courses/<%=@lc.component.course.id.to_s%>/components/<%=@lc.component.id.to_s%>\"><%= @lc.component.name%></a> <%= escape_javascript(render :partial => 'lesson_components/remove', :locals => {:lc => @lc} ) %>").attr("id", "lc-<%= @lc.id %>");
$("#component-list").append(item);
prepareComponentNew();

