<% form_for @note do |note_form| %>
  <div class="field">
    <%= note_form.label :content %>
    <%= note_form.text_area :content %>
  </div>
  <div class="field">
    <%= label_tag :start_time, "Start time: " %>
    <%= text_field_tag :start_time %>
    <a href="#" id="start-sync">Sync start</a>
  </div>
  <div class="field">
    <%= label_tag :end_time, "End time: " %>
    <%= text_field_tag :end_time %>
    <a href="#" id="end-sync">Sync end</a>
  </div>
  <%= hidden_field_tag :video_url %>
  <%= hidden_field_tag :lesson_id, lesson.id %>
  <%= submit_tag %>
<%end%>
