<%= form_for @note do |note_form| %>
  <%= render 'shared/error_messages', :object => note_form.object %>
  <div id="note-error-message"></div>
<div class="field" >
    <%= note_form.label :content %><br />
    <%= note_form.text_area :content %>
  </div>
  <table>
    <tr>
      <div class="field">
        <td><%= label_tag :start_time, "Start time: " %></td>
        <td><%= text_field_tag :start_time %></td>
        <td><a href="#" class="start-sync">Sync start</a></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= label_tag :end_time, "End time: " %></td>
        <td><%= text_field_tag :end_time %></td>
          <td><a href="#" class="end-sync">Sync end</a></td>
      </div>
    </tr>
  </table>
  <div id="current_video_url"></div>
  <%= hidden_field_tag :video_url %>
  <%= hidden_field_tag :lesson_id, lesson.id %>
  <%= submit_tag %>
<%end%>
