<% @note.events.build if @note.events.empty? %>
<%= form_for @note, :remote => true do |note_form| %>
  <%= render 'shared/error_messages', :object => note_form.object %>
  <div id="note-error-message"></div>
  <div class="field" >
    <%= note_form.label :content %><br />
    <%= note_form.text_area :content %>
  </div>
  <%= render :partial => 'events/form', 
             :locals => { :parent_type => "note", 
                          :event => @note.events[0] } %>
  <div class="actions">
  <%= note_form.submit "Submit"  %>
  </div>
<% end %>

