<%= form_for(@component) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br />

<h3>Current videos:</h3>
<%= render :partial => 'videos/video', :collection => @videos, :locals => { :edit => true } %>

<h3>Add a video!</h3>

<%= form_for(@video) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
    <%= f.hidden_field :component_id, :value => @component.id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
 
  <div class="actions">
    <%= f.submit "Add video" %>
  </div>
<% end %>


