<% breadcrumb :components, @course %>

<%= link_to "Add component", new_course_component_path(@course), :class => 'add-course-item' %><br /><br />
<% if @components.empty? %>
  Course has no components.
<% else %>
  <table class="teacher-data">
    <tr class="teacher-data-head">
      <th>Component</th>
      <th>Lessons</th>
      <th>Quizzes</th>
    </tr>

    <% @components.each do |component| %>
      <tr class="teacher-data-row">
        <td>
          <%= link_to component, course_component_path(component.course, component) %>
        </td>
        <td>
        <ul>
          <% component.lessons.each do |lesson| %>
            <li><%= link_to lesson.name, [@course, lesson] %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
        <% component.quizzes.each do |quiz| %>
          <li><%= link_to truncate(quiz.question, :length => 60), [@course, quiz] %></li>
        <% end %>
        </ul>
      </td>
      </tr>
    <% end %>
    <%= will_paginate @components %>
  </table>

<% end %>

