<%= javascript_include_tag "YouTubeEmbed" %>
<%= javascript_include_tag "ComponentsYouTube" %>
<% if current_user.can_edit?(@course) %>
  <% breadcrumb :component, @component %>
<% else %>
  <% breadcrumb :component_student, @component %>
<% end %>

<h1>
  <%= @component.name%>
</h1>

<p class="markdown">
  <%= @component.description %>
</p>

<% if current_user and current_user.can_edit?(@course) %>
<p> <%= link_to "Edit", edit_course_component_path(@course, @component) %></p>
<% end %>

<% if not @component.lessons.empty? %>
  <h3> Related Lessons: </h3>
  <ul>
    <% @component.lessons.each do |lesson| %>
      <% if current_user.teacher?(@component.course) %>
        <li> <%= link_to lesson.name, edit_course_lesson_path(@component.course, lesson) %> </li>
      <% else %>
        <li> <%= link_to lesson.name, course_lesson_path(@component.course, lesson) %> </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
    
