<%= javascript_include_tag "YouTubeEmbed" %>
<%= javascript_include_tag "ComponentsYouTube" %>
<% if current_user.can_edit?(@course) %>
  <% breadcrumb :component, @component %>
<% else %>
  <% breadcrumb :component_student, @component %>
<% end %>

<h1>
  <%= @component.name%>
</h1>

<p>
  <%= @component.description %>
</p>

<% if current_user and current_user.can_edit?(@course) %>
<p> <%= link_to "Edit", edit_course_component_path(@course, @component) %></p>
<% end %>

<% if ! @videos.empty? %>
<h3>Related Videos:</h3>

<div id="video-embed-area"></div>

<div id="related-videos">
<%= render :partial => 'videos/video', :collection => @videos, :locals => { :edit => false } %>
</div>
<% end %>
