<%= javascript_include_tag "YouTubeEmbed" %>

<h1>
  <%= @component.name%>
</h1>

<p>
  <%= @component.description %>
</p>

<% if current_user and current_user.can_edit?(@component.course) %>
<p> <%= link_to "Edit", edit_component_path %></p>
<% end %>

<% if ! @videos.empty? %>
<h3>Related Videos:</h3>

<div id="video-embed-area"></div>

<div id="related-videos">
<%= render :partial => 'videos/video', :collection => @videos, :locals => { :edit => false } %>
</div>
<% end %>
