<%= link_to "Add problem", new_course_problem_path(@course) %>
<%= link_to "Add problem(s) with TeX", new_tex_problem_path(@course) %>

<% if @problems.empty? %>
  Course has no problems.
<% else %>
  <table>
    <tr>
      <th>Problem</th>
      <th>Quizzes</th>
      <th></th>
    </tr>
    <% @problems.each do |problem| %>
      <tr>
        <td>
          <%= link_to problem, problem %>
        </td>
        <td>
          <% problem.quizzes.each_with_index do |quiz, i|  %>
            <%= link_to (i+1), edit_quiz_path(quiz) %>
          <% end %>
        </td>
        <td>
          <%= link_to "Add quiz", new_quiz_path(:problem_id => problem.id) %>
        </td>
      </tr>
    <% end %>
    <%= will_paginate @problem %>
  </table>
<% end %>
