<h1>Problem <%= @problem.name %> </h1>

<p><b> Problem statement: </b> <%= @problem.statement %> </p>


<p><%= link_to "Edit", edit_problem_path %></p>

<div>
  <h2>Steps:</h2>
  <ul>
    <%= render @steps %>
  <ul>
  <h3>Add new step:</h3>
    <%= render 'shared/step_form' %>
</div>
