<div class = "back"><%= link_to "Back to course", @course %></div>
<h1>Problem <%= @problem.name %> </h1>
<p><b> Problem statement: </b> <%= @problem.statement %> </p>
<%= image_tag @problem.image.url %>

<% if current_user.can_edit?(@course) %>
<p><%= link_to "Edit", edit_problem_path %></p>
<% end %>

<h2>Steps:</h2>
<ol>
<%= render @problem.steps %>
</ol>
