<div id="video-area">
  <div class="video-name"> <%= video.name %> |
  <% if edit == true %>
    <%= link_to "Edit", edit_video_path(video.id) %> | <%= link_to "Delete", video_path(video), :method => :delete %>
  <% else %>
    <a href="#">Play</a></div>
  <% end %>
  <p> <%= video.description %></p>
  <div id="video-parameters" class="hidden">
    <div id="video-embed-url"><%= video.url %></div>
    <div id="video-start-time"><%= video.start_time %></div>
    <div id="video-end-time"><%= video.end_time %></div>
  </div>
</div>
