<%= form_for @component do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description%>
    <%= f.text_area :description%>
  </div>
  <% if @course %>
    <%= f.hidden_field :course_id, :value => @course.id %>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
