<div id="rate-button-panel">
  <% if myresponse.quiz.answer_type == "self-rate" or myresponse.status != "incorrect" %>
    <p class="header">How did you feel about this problem?</p>
  <% end %>

  <div id="rate-buttons">
  <% if myresponse.quiz.answer_type == "self-rate" %>
    <%= link_to "Miss", rate_components_quiz_path(myresponse.quiz, :quality => 0), :id => "rate-miss", :class => "round", :method => :get %>
  <% end %>

  <% if myresponse.status != "incorrect" %>
    <%= link_to "Hard", rate_components_quiz_path(myresponse.quiz, :quality => 3), :id => "rate-hard", :class => "round", :method => :get %>
    <%= link_to "Good", rate_components_quiz_path(myresponse.quiz, :quality => 4), :id => "rate-good", :class => "round", :method => :get %>
    <%= link_to "Easy", rate_components_quiz_path(myresponse.quiz, :quality => 5), :id => "rate-easy", :class => "round", :method => :get %>
  <% else %>
    <%= link_to "Next", course_study_index_path(myresponse.quiz.problem.course), :class => "round"  %>
  <% end %>
</div>
</div>
