<div id="<%= event.playable_type.downcase %>-<%= event.playable.id %>" title="Time: <%= event.start_time %> s" class="event <%= event.playable_type.downcase  %>">
  <div class="hidden data" id="event-<%= event.id %>"
    data-id="<%= event.playable.id %>"
    data-video="<%= event.video_url %>"
    data-start_time="<%= event.start_time %>"
    data-end_time="<%= event.end_time %>"
    data-playable_type="<%= event.playable_type %>"
    data-order_number="<%= event.order_number %>"> </div>
  <% if event.playable_type == "Note" %>
    <div class="content markdown"><%=event.playable.content%></div>
    <% if current_user.can_edit?(event.lesson.course) %>
      <%= link_to "Edit", edit_note_path(event.playable_id), :remote => true %>
    <% end %>
  <% else %>
    <div class="question"><%=event.playable.question%></div>
    <% if current_user.can_edit?(event.lesson.course) %>
      <%= link_to "Edit", edit_course_quiz_path(event.lesson.course, event.playable_id), :remote => true %>
    <% end %>
  <% end %>
</div>
