
<% breadcrumb :home %>

<div id="course-overview">
  <% if @courses.count == 0 %>
    <p> You are currently not taking any courses. </p>
  <% else %>
    <% @taught_courses.each do |course| %>
      <div class="course-listing">
        <div class="name-and-status">
          <%= link_to course.name, course, :class => 'course-name' %>
          <div class="study-info">
            <%=course.enrollments.count%> students
          </div>
        </div>

        <ul class="teacher-actions">
          <li><%= link_to "Students", course_path(course) %></li>
          <li><%= link_to "Lessons", course_lessons_path(course) %></li>
          <li><%= link_to "Components", course_components_path(course) %></li>
          <li><%= link_to "Exercises", course_quizzes_path(course) %></li>
        </ul>
      </div>
    <% end %>
    <% @studied_courses.each do |course| %>
      <div class="course-listing">
        <div class = "name-and-status">
          <%= link_to course.name, course, :class => 'course-name' %>

          <div class="study-info">
            <% if current_user.all_memories(course).latest_studied.first and current_user.all_memories(course).latest_studied.first.last_viewed %>
              Last studied <%= time_ago_in_words(current_user.all_memories(course).latest_studied.first.last_viewed) %> ago
            <% else %>
              You haven't started studying yet!
            <% end %>
          </div>
        </div>

        <ul class="course-actions">
          <li class="items-for-review">
          <%= pluralize(current_user.memories_due_with_quiz(course).count, "item") %> for review<br />
          <%= link_to "Study now", course_study_index_path(course.id), :class => 'study-link' %>
          </li>

          <% if course.lessons.incomplete_for(current_user).empty? %>
            <li class="next-lesson">Completed all lessons!</li>
          <% else %> 
            <% next_lesson = course.lessons.incomplete_for(current_user).first %>
            <li class="next-lesson">Next lesson: <br/> <%= link_to next_lesson.name, course_lesson_path(course, next_lesson), :class => 'lesson-link' %></li>
          <% end %>

        </ul>
      </div>
    <% end %>
  <% end %>
</div>


<br/>
Check out the rest of our <%= link_to "courses", courses_path, :id => "more-courses-link" %>!
