<div id="tagline">
<ul>
  <li><%= image_tag "splash/LearnQuantum.jpg" %><div><span class="feature-head">Solve</span> problems that build on what you know</div></li>
  <li><%= image_tag "splash/WalterLewin.jpg" %><div><span class="feature-head">Watch</span> mini-lectures that provide new knowledge and help overcome difficulties</div></li> 
  <li><%= image_tag "splash/UpwardTrend.jpg" %><div><span class="feature-head">Track</span> what you remember and what you need to learn</div></li>
  <li><%= image_tag "splash/APlus.jpg" %><div><span class="feature-head">Succeed</span> in your most challenging college classes</div></li>
</ul>
"...stimulating..." &#151; Bill Gates 
</div>
<br />
<div id="signup">
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<br />Or, already have a Facebook account? Use it to login faster:<br/><br/>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebookconnect.gif", :alt => "Connect with Facebook" %>
</a>
</div>
<br />
<br />
<br />
<div id="hmc-logo" style="text-align:left;" >In partnership with Harvey Mudd College <%= image_tag "splash/HMCLogo.png", :height => "30", :style => "vertical-align:middle; padding:10px;" %></div>

