
<div id="quiz-id" class="hidden"><%= @response.quiz.id %></div>
<p><strong>Question:</strong> <span id="question" class="markdown"><%= @response.quiz.question %></span></p>
<div id="judgement">
  <% if not @response.status.blank? %> 
    Your answer: 
    <span class="answer <%= @response.status %>">
      <%= user_answer(@response) %>
    </span><br />
    <% if @response.status == "correct" %>
      <span class="correct-status">You're correct!</span><br />
    <% else %>
      <span class="incorrect-status">That's incorrect</span>. The answer is 
      <span class="answer correct"><%= quiz_answer(@response) %></span>.<br />
    <% end %>
  <% else %>
    The answer is: <span class="answer correct"><%= @response.quiz.answers.first.text %></span><br />
  <% end %>
  <% if @response.quiz.answer_type == 'fbd' %>
    <%= render :partial => 'responses/fbd', :locals => { :answer_output => @response.quiz.answer_output } %>
  <% end %>
  <% if @response.quiz.explanation %>
    <br /><p class="markdown"><%= @response.quiz.explanation %></p>
  <% end %>

</div>


<% if @response.has_been_rated %>
  <%= render :partial => "shared/next_button", :locals => { :myresponse => @response } %>
<% else %>
  <%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>
<% end %>

<br /><br />
<%= render :partial => 'components/help' %>
