
<div id="quiz-id" class="hidden"><%= @response.quiz.id %></div>
<p><strong>Question:</strong> <span id="question" class="markdown"><%= @response.quiz.question %></span></p>
<div id="judgement">
  <% if not @response.status.blank? %> 
    Your answer: <span class="answer markdown <%= @response.status %>">
      <% if @response.quiz.answer_type == 'multi' %>
        <%= showMultiAnswer(@response.answer, @response.quiz.answer_input) %>
      <% else %>
        <%= @response.answer %></span><br />
    <% end %>
    <% if @response.status == "correct" %>
      You're correct!<br />
    <% else %>
      That's incorrect. The answer is 
      <% if @response.quiz.answer_type == 'multi' %>
        <%= showMultiAnswer(@response.quiz.answers.first.text, @response.quiz.answer_input) %>
      <% else %>
        <%= @response.quiz.answers.first.text %></span>
    <% end %>
  <% end %>
<% else %>
  The answer is: <span class="answer markdown correct">
    <% if @response.quiz.answer_type == 'multi' %>
      <%= showMultiAnswer(@response.quiz.answers.first.text, @response.quiz.answer_input) %>
    <% else %>
      <%= @response.quiz.answers.first.text %></span>
  <% end %>
<% end %>
<% if @response.quiz.answer_type == 'fbd' %>
  <%= render :partial => 'responses/fbd', :locals => { :answer_output => @response.quiz.answer_output } %>
<% end %>
<% if @response.quiz.explanation %>
  <p class="markdown"><%= @response.quiz.explanation %></p>
<% end %>

</div>


<% if @response.has_been_rated %>
  <%= render :partial => "shared/next_button", :locals => { :myresponse => @response } %>
<% else %>
  <%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>
<% end %>


<%= render :partial => 'components/help' %>
