
<div id="quiz-id" class="hidden"><%= @response.quiz.id %></div>
<p><strong>Question:</strong> <span id="question"><%= @response.quiz.question %></span></p>
<div id="judgement">
  <% if not @response.status.blank? %> 
    Your answer: <span class="answer"
      <% if @response.status == "correct" %>
        id="correct_answer"
      <% end %>
      >
      <%= @response.answer %></span><br />
    <% if @response.status == "correct" %>
      You're correct!<br />
    <% else %>
      That's incorrect. The answer is <span class="answer" id="correct_answer"><%= @response.quiz.answers.first.text %></span>.
    <% end %>
  <% else %>
    The answer is <span class="answer" id="correct_answer"><%= @response.quiz.answers.first.text %></span>. 
  <% end %>
  <% if @response.quiz.answer_type == 'fbd' %>
  <%= render :partial => 'responses/fbd', :locals => { :answer_output => @response.quiz.answer_output } %>
  <% end %>
<div id = "explain"> 
  <% if @response.quiz.explanation %>
    <p class = "header">Explanation</p>
    <%= @response.quiz.explanation %> 
  <% end %>
</div>

</div>


<% if @response.has_been_rated %>
  <%= render :partial => "shared/next_button", :locals => { :myresponse => @response } %>
<% else %>
  <%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>
<% end %>


<%= render :partial => 'components/help' %>
