<div id="study-area">
  <div id="judgement">
  <% if not @response.status.blank? %> 
    <% if @response.status == "correct" %>
      <p class="flash success">You're correct!</p>
    <% else %>
      <p class="flash error">That's incorrect.</p>
    <% end %>

    Your answer: <span class="answer"><%= @response.answer %></span><br />
  <% end %>

  The correct answer: <span class="answer"><%= @response.quiz.answer %></span>
  <br /><br />

    <%= render :partial => @answer_output_view, :locals => { :answer_output => @response.quiz.answer_output }  unless @answer_output_view.nil? %>
</div>


  <%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>

  <%= render :partial => 'components/help' %>
</div>
