<%= javascript_include_tag "LessonEdit" %>

<div id="lesson-edit">
  <h1>Editing <%= @lesson.name %></h1>
  
  <div id="video-area">
    <div id="vid-container">
      <div id="video-player"></div>
    </div>
    <div id="video-url-div">
      <span id="url-label">Youtube URL:</span><input type ="text" id = "load_video_url" /><a href="#" id="load-video">Load video</a>
    </div>
  </div>

  <div id="events-area">
    <%= render @lesson.events %> 
  </div>
  <div id="tabs-container">
    <div id="lesson-edit-tabs">
      <ul>
        <li><a href="#add-note">Add Note</a></li>
        <li><a href="#add-quiz">Add Quiz</a></li>
      </ul>
      <div id="add-note">
        <%= render :partial => 'notes/form', :locals => { :lesson => @lesson } %> 
      </div>

      <div id="add-quiz">
        <%= render :partial => 'quizzes/form' %>
      </div>
    </div>
</div>
</div>
