<% content_for :javascript do %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "AddRemoveFields" %>
  <%= javascript_include_tag "LessonEdit" %>
<% end %>

<% breadcrumb :edit_lesson, @lesson %>

<div id="course_id" class="hidden"><%= @course.id %></div>
<div id="lesson_id" class="hidden"><%= @lesson.id %></div>
<div id="lesson-edit">
  
  <div id="video-area">
    <div id="vid-container">
      <div id="video-player"></div>
      <div id="video-url-div">
        <span id="url-label">YouTube URL:</span><input type ="text" id = "load_video_url" /><a href="#" id="load-video">Load video</a>
      </div>
    </div>
  </div>

  <div id="events-area-teacher" class="events-area">
    <%= render @lesson.events %> 
  </div>
  <div id="tabs-container">
    <div id="lesson-edit-tabs">
      <ul>
        <li><a href="#add-note">Add Note</a></li>
        <li><a href="#add-quiz">Add Quiz</a></li>
        <li><a href="#edit-components">Components</a></li>
      </ul>
      <div id="add-note">
        <%= render :partial => 'notes/form' %> 
      </div>

      <div id="add-quiz">
        <%= render :partial => 'quizzes/form' %>
      </div>

      <div id="edit-components">
        <%= render :partial => 'lesson_components/form' %>
        <ul id="component-list">
          <% @lesson.components.each do |comp| %>
            <% lc = comp.lesson_components.find_by_lesson_id(@lesson) %>
            <li id="lc-<%= lc.id %>"><%= link_to comp.name, course_component_path(@lesson.course,comp) %>
            <%= render :partial => 'lesson_components/remove', :locals => {:lc => lc } %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
