<% content_for :javascript do%>
  <%= javascript_include_tag "WatchLesson" %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "Quiz" %>
<% end %>

<% if current_user.can_edit?(@course) %>
  <% breadcrumb :lesson, @lesson %>
<% else %>
  <% breadcrumb :lesson_student, @lesson %>
<% end %>

<h1 id="lesson-name"><%= @lesson.name %></h1>
<div id="lesson-area">

  <div id="video-area">
    <div id="player"></div>
  </div>
  <div id="stream-area">
    <div id="content"></div>
    <div id="control-links">
      <a id="resume" href="#" class="hidden">Resume</a>
      <a id="nextlink" href="#">Next</a>
      <a id="showall" href="#">Show all</a>
    </div>
  </div>
</div>
<div id ="document-area">
</div>

<div id="lesson-id" class="hidden"><%= @lesson.id %></div>
<div id="lesson-status-id" class="hidden"><%= @lesson.lesson_statuses.find_by_user_id(current_user).id %></div>
<div id="course-id" class="hidden"><%= @course.id %></div>

<div id="watch-lesson-links"><%= link_to "Study this course", course_study_index_path(@course), :class => "round quizbutton" %>
  <% if @lesson.next_lesson  %>
    <%= link_to "Next lesson", course_lesson_path(@course, @lesson.next_lesson), :class => "round quizbutton" %>
  <% end %>
</div>
