<%= link_to "Back to problem", edit_problem_path(@step.problem) %>
<%= form_for(@step) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :order_number %>
    <%= f.text_field :order_number %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
<h2>Relate some course components!</h2>
<%= render :partial => "component", :collection => @components %>

</div>

