<div class ="back"><%= link_to "Back to problem edit", edit_problem_path(@step.problem) %></div>
<div id="course_id" style="display: none"><%= @step.problem.course.id %></div>
<%= form_for(@step) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :order_number %>
    <%= f.text_field :order_number %>
  </div>
  <div class="field">
    <%= f.label :component_tokens, "Components" %><br />
    <%= f.text_field :component_tokens, "data-pre" => @step.components.map(&:attributes).to_json  %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
<% if ! @videos.empty? %>
<h3>Related videos:</h3>
<%= render :partial => 'videos/video', :collection => @videos, :locals => { :edit => true } %>
<% end %>

<h3>Add another video!</h3>
<%= render 'shared/video_add_form' %>
</div>
