<%= form_for @course, :html => {:multipart => true}  do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label :description%><br />
    <%= f.text_field :description%>
  </div>
  <div class="field">
    <%= f.label "Enter TeX formatted components and/or problems here"%><br />
    <%= f.text_area :document%>
  </div>
    <%= f.hidden_field :course_id, :value => @course.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

