<h1>Course: <%= @course.name %></h1>
<p><b>Description:</b> <%= @course.description %></p>

<p><%= link_to "Study", course_study_index_path(@course), :class => "study_button round" %></p>

<h2>Components</h2>
<ul>
  <%= render @components %>
</ul>

<% if current_user.can_edit?(@course) %>
  <%= link_to "Add component", new_component_path(:course_id => @course.id)  %>
<% end %>

<h2> Problems </h2>
<ul>
  <%= render @problems %>
</ul>

<% if current_user.can_edit?(@course) %>
  <%= link_to "Add problem", new_problem_path(:course_id => @course.id) %>
<% end %>
