<% breadcrumb :course, @course %>

<div id="course-content">



  <% if current_user.student?(@course) %>

    <div id = "exercises" class="course-section">
      <h2> Exercises </h2>
      <p>
      <% memories_due = current_user.memories_due_with_quiz(@course).count %>
      <% if memories_due == 0 %>
        Complete a lesson to unlock more exercises.
      <% else %>
        <%= link_to "Study now!", course_study_index_path(@course.id), :class => 'quizbutton round' %><br />
        <%= pluralize(memories_due, "item") %> for review
      <% end %>
      </p>
    </div>

    <div id="lessons" class="course-section">
      <h2>Lessons</h2>
      <%if @lessons.empty? %>
        Course has no lessons.
      <% else %>
        <table>
          <% @lessons.each_with_index do |lesson, i| %>
            <tr> 
              <td><span class="lesson-number"><%= i+1 %></span></td>
              <td class="completion">
                <% if current_user.lesson_statuses.find_by_lesson_id(lesson).completed %>
                  ✓
                <% end %>
              </td>
              <td class="lesson-link"> <%= link_to lesson.name, [@course, lesson] %> </td>
              <td class="last-viewed"><% lesson_status = current_user.lesson_statuses.find_by_lesson_id(lesson) %>
                <% if lesson_status.event_id == -1 %>
                  not yet started
                <% else %>
                  viewed <%= time_ago_in_words(lesson_status.updated_at) %> ago
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div id="components" class="course-section">
      <h2>Components</h2>
      <% if @components.empty? %>
        Course has no components.
      <% else %>
        <p>
        <div id="course_id" class="hidden"><%= @course.id %></div>
        <input type="text" id="course_components" size="30" /><br />
        <a href="#" id="component_help_link" class="quizbutton round">Learn more</a>
        or
        <%= link_to "see all components", course_memories_path(@course) %>
        </p>
      <% end %>
    </div>

  <% else %>

    <p><%= @course.description %></p>
    <%= render :partial => 'users/enroll', :locals => { :course => @course }  %>

  <% end %>

</div>

<% if current_user.memory_ratings.in_course(@course).count > 0 %>
  <div id="stats-sidebar"><%= render 'stats' %></div>
<% end %>


<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.flot.js" %>
  <%= javascript_include_tag "Stats" %>
<% end %>
