<h1>Course: <%= @course.name %></h1>
<p><b>Description:</b> <%= @course.description %></p>

<h2>Components</h2>
<ul>
  <%= render @components %>
</ul>

<% if current_user.teacher?(@course) %>
<h2>Create new component</h2>
<%= render 'shared/component_form' %>
<% end %>

<h4> Problems </h4>
<ul>
  <%= render @problems %>
</ul>

<h5>Create new problem</h5>
<%= render 'shared/problem_form' %>
