<% breadcrumb :course, @course %>

<div id="course-content">
  <% if current_user.student?(@course) %>

    <div id="exercises" class="course-section">
      <h2> Exercises </h2>
      <p>
      <% memories_due = current_user.memories_due_with_quiz(@course).count %>
      <% if memories_due == 0 %>
        Complete a lesson to unlock more exercises.
      <% else %>
        <div class="due-count">
        <div class="quizbutton round study-button">
          <%= link_to "Study now!", course_study_index_path(@course.id) %>
        </div>
          <%= pluralize(memories_due, "concept") %> to review</div>
      <% end %>
      </p>
    </div>


    <div id="lessons" class="course-section">
      <h2>Lessons</h2>
      <%if @lessons.empty? %>
        Course has no lessons.
      <% else %>
        <table>
          <% @lessons.each_with_index do |lesson, i| %>
            <% lesson_status = @lesson_statuses[i] %>
            <tr> 
              <td><span class="lesson-number"><%= i+1 %></span></td>
              <td class="completion">
                <% if lesson_status.completed %>
                  <div class="progress-wrap">
                    <div class="progress-value" style="background: #0a0; width: 100%;"></div></div>
                <% elsif lesson_status.started? %>
                  <% events = lesson.events.map{|e| e.id} %>
                  <% latest_event = lesson_status.event_id %>
                  <% progress = (events.index(latest_event)+1.0)/events.length*100 %>
                  <div class="progress-wrap">
                    <div class="progress-value" style="background: #0a0; width: <%= progress %>%;"></div></div>
                <% end %>
              </td>
              <td class="lesson-link"> <%= link_to lesson.name, [@course, lesson] %> </td>
              <td class="last-viewed">
                <% if lesson_status.event_id == -1 %>
                  not yet started
                <% else %>
                  viewed <%= time_ago_in_words(lesson_status.updated_at) %> ago
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    
    <div id="components" class="course-section">
      <% if @components.empty? %>
      <% else %>
        <h2>Concepts</h2>
        <p>Start typing to look up a question<br />
        <div id="course_id" class="hidden"><%= @course.id %></div>
        <input type="text" id="course_components" size="30" /><br />
        <a href="#" id="component_help_link" class="quizbutton round">Learn more</a>
        or
        <%= link_to "see all concepts", course_memories_path(@course) %>
        </p>
      <% end %>
    </div>

  <% else %>
    <h1><%= @course.name %></h1>

    <p><%= @course.description %></p>
    <%= render :partial => 'users/enroll', :locals => { :course => @course } %>

  <% end %>

</div>

