<h1>Course: <%= @course.name %></h1>
<p><b>Description:</b> <%= @course.description %></p>

<p><%= link_to "Study", course_study_index_path(@course), :class => "study_button round" %></p>

<div>
<h2>Components</h2>
<% if @components.empty? %>
  Course has no components.
<% else %>
<ul>
  <%= render @components %>
</ul>
<% end %>
</div>

<div>
  <h2> Problems </h2>
<% if @problems.empty? %>
  Course has no problems.
<% else %>
<ul>
  <%= render @problems %>
</ul>
<% end %>
</div>

<% if current_user.can_edit?(@course) %>
  <div>
    <h2>Course control panel</h2>
    <%= link_to "Add component", new_component_path(:course_id => @course.id)  %><br />
    <%= link_to "Add problem", new_problem_path(:course_id => @course.id) %>
  </div>
<% end %>
