<table id="memories">
  <tr>
    <th>Component</th>
    <th>Strength</th>
    <th>Times reviewed</th>
    <th></th>
  </tr>
  <% @memories.each do |memory| %>
    <tr>
      <td><%= link_to memory.component.name, course_component_path(@course, memory.component) %></td>
      <td class="<%= strength_class(memory) %>"><%= strength(memory) %></td> 
      <td><%= pluralize(memory.memory_ratings.count, "time") %></td>
      <td><% if strength(memory) != "Not being studied" %>
            <%= form_for [@course, memory] do |f| %>
            <%= f.submit "Stop studying" %> 
            <% end %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
