<div id = "signin">
  <div id = "signin-form">
  <h1>Sign in with email</h1>
    <%= form_for(@user_session) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>
    <% end %>
    <br />
    
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div id = "oauth-login">
    <h1>Sign in with Facebook</h1>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebookconnect.gif", :alt => "Connect with Facebook" %>
    </a>
  </div>
</div>


