<% content_for :javascript do %>
  <%= javascript_include_tag "showdown" %>
<% end %>

<div class="header markdown"><%= @quiz.question %></div>


<% if not @quiz.due_for?(current_user) and @quiz.last_response_from(current_user) %>
  <br />
  <div class="last-response">
    You've already answered this exercise!
    <%= link_to "See your last response", response_path(@quiz.last_response_from(current_user)), :class => 'response-link' %>
  </div>
<% end %>

<%= form_for @response || Response.new do |f| %>
  <% if @quiz.answer_type == "text" %>
    <%= render :partial => "text_input", :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
  <% elsif @quiz.answer_type == "fbd" %>
    <%= render :partial => "fbd_input", :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
  <% elsif @quiz.answer_type == "multi" %>
    <%= render :partial => "multi_input", :locals => { :f => f, :answer_input => @quiz.answer_input }, :object => f.object %>
  <% end %>

  <%= f.hidden_field :quiz_id, :value => @quiz.id %>

  <div id="check-answer">
    <div class="actions">
      <% if @quiz.answer_type == "text" %>
        <%= f.submit "Don't know", :class => "round quizbutton", :id => "answer-morph"%>
      <% else %>
        <%= f.submit "Check answer", :class => "round quizbutton"%>
      <% end %>
      <%= f.submit "Skip", :class => "round quizbutton" %>
    </div>
  </div>
<% end %>
