<!DOCTYPE html>
<html>
<head>
  <title>Learnstream Atomic</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen'  %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %> 
  <%= javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" %>
  <%= javascript_include_tag "Study" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
  <header>
  <nav>
  <ul>
    <li><%= link_to "Home", root_path  %></li>
    <% if signed_in? %>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
  <% end %>
  </ul>
  </nav>
  </header>
  <section class="round">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  </section>

</div>
</body>
</html>
