<!DOCTYPE html>
<html>
<head>
  <title>Learnstream Atomic</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen'  %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
  <header>
  <nav>
  <ul>
    <li><%= link_to "Home", root_path  %></li>
    <li><%= link_to "Sign in", '#'%></li>
  </ul>
  </nav>
  </header>
  <section class="round">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  </section>

</div>
</body>
</html>
