<!DOCTYPE html>
<html>
<head>
  <title>Learnstream Atomic</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen'  %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
  <nav>
  <ul>
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Sign in", '#'%></li>
  </ul>
  </nav>
  </header>
  <section>
  <%= yield %>
  </section>
</body>
</html>
