<!DOCTYPE html>
<html>
<head>
  <title>Learnstream Atomic</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen'  %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= stylesheet_link_tag "token-input" %>  
  <%= stylesheet_link_tag 'colorbox/colorbox' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery.ui' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min" %>

  <%= javascript_include_tag "raphael-min" %>
  <!-- <%= javascript_include_tag "json" %>  -->
  <%= javascript_include_tag "jquery.ui.min" %>
  <%= javascript_include_tag "jquery.colorbox.min" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %> 
  <%= javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" %>
  <%= javascript_include_tag "YouTubeEmbed" %>
  <%= javascript_include_tag "Study" %>
  <%= javascript_include_tag "jquery.tokeninput" %> 
  <%= javascript_include_tag "jquery.flot.js" %>
  <%= javascript_include_tag "Stats" %>
  <%= javascript_include_tag "Quiz" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
  <header>
  <%= link_to "Learnstream", root_path, :id => "logo" %>
  <nav>
  <ul>
    <li><%= link_to "Home", root_path  %></li>
    <% if signed_in? %>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
  <% end %>
  </ul>
  </nav>
  </header>
  <section class="round">
  <%= yield(:panel) if content_for?(:panel) %>
 
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  
  <%= yield %>
 </section>
</div>
</body>
</html>
